<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.music_project">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activities -->
        <activity android:name=".views.activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.activities.MainActivity" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" android:host="callback" />
            </intent-filter>
        </activity>

        <activity android:name=".views.activities.LoginActivity"
            android:exported="false" />

        <activity android:name=".views.activities.PlayerActivity"
            android:launchMode="singleTop"
            android:exported="false" />

        <activity android:name=".views.activities.SettingsActivity"
            android:exported="false" />
        <activity android:name=".views.activities.RegisterActivity" />
        <activity
            android:name=".views.activities.ProfileActivity"
            android:label="@string/profile_activity_title" />

        <!-- Intent filter moved into an activity -->


        <!-- Services -->
        <service android:name=".services.MusicPlaybackService" />

        <!-- Receivers -->
        <receiver android:name=".receivers.MusicControlReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- Content Providers -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="androidx.core.content.FileProvider"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
